@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


h1,h2,h3,h4{
	font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #043361; /*#EB6400;*/

	font-weight: 700;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a {
    color: #0088CC;
    text-decoration: none;
}

#container{
	max-width:1000px;
	margin:40px auto;
	font-size:1.1em;
}

#pic img{
	vertical-align:middle;
	margin-top:40px;
}

#pic,#department, #intro{
	padding:0% 1.5%;
	margin-bottom:10px;
	display:block;
}

#pic,#department{
	padding:0% 1.5%;
	margin-bottom:10px;
	display:block;
}

#department{
	text-align: justify;
	font-size: 1.2em;
}
.note{
	font-style:italic;
	font-size:1em;
}
#main{
	/* max-width:550px; */
	background-color:#fff;
	padding:4% 2% 2% 1%;
	margin-bottom:20px;
	clear:both;
	overflow: auto;	
}
#work{
	background-color:#fff;
	padding:0.3% 2% 2% 2%;
	margin-top:2.5%;
}
#work img{
	float:left;
	margin-bottom:8px;
	margin-right:8px;
}
#work p{
	clear:both;
}
#services{
  background-color:#fff;
  padding:0.3% 2% 2% 2%;
  margin-top:2.5%;
}
#services img{
  float:left;
  margin-bottom:8px;
  margin-right:8px;
}
#services p{
  clear:both;
}

#contact{
  background-color:#fff;
  padding:0.3% 2% 2% 2%;
  margin-top:2.5%;
}
#contact img{
  float:left;
  margin-bottom:8px;
  margin-right:8px;
}
#contact p{
  clear:both;
}

.column{
	background-color:#fff;
	padding:0% 2.5% 1% 2.5%;;
	display:block;
	float:left;
	margin-bottom:2%;
}
.column img{
    margin-bottom: 8px;
    margin-right: 8px;	
	float:left;
}

.column > p > a, .column a{
    /* color: #CC7D00;*/
    font-weight: 600;
}

.column li {
    line-height: 2em;
    list-style-image: url("list_squares-2.png");
}

.column p{
	clear:both;
}

.column > ul{
	padding-left:2.5%;
}

#publications, #project, #members{
	clear:both;
	padding:0.3% 2% 2% 2%;
	background-color:#fff;
	margin-bottom:20px;
}
#publications li, #project li, #work li, #services, #department li, #contact li{
    line-height: 1.7em;
    list-style-image: url("list_squares.png");
    margin-bottom: 0.7em;
}

.journal{
font-style:italic;
}


#main, #publications, #project, .column, #news, #members, #menu, #work, #services, #contact{
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*-webkit-box-shadow: 0 6px 5px -7px #333333;*/
	/*-moz-box-shadow: 0 6px 5px -7px #333333;*/
	/*box-shadow: 0 6px 5px -7px #333333;*/
}

@media all and (min-width: 480px) {
#main{
	padding:0.5% 0%;
	margin-bottom:20px;
	padding-bottom: 0;
}
#pic{
	width:23%;
	float:left;
	margin-top:10px;
	margin-right: 20px;
	margin-left: 20px
}
#department{
	float:right;
	width:70%;
	font-size:1.1em;
	margin-right: 30px;
}
#menu{
    /* max-width:550px; */
    background-color:#fff;
    padding:1% 1% 1% 2%;
    margin-bottom:20px;
    clear:both;
    overflow: auto;
    font-size:1.1em;
}
/*
#intro{
	width:43%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#intro .carousel-inner>.item>a>img { height: 260px; }
*/
#main { position: relative; }

#columnswrapper{
	clear:both;
	background-color:#99FF00;
}
	
#container {
	
}
.column {
	margin:2%;
	width:49%;
}
div#columnswrapper div:first-child{
	float: left;
	margin-left:0;
	margin-right:0;
}

div#columnswrapper div:last-child{
	float: right;
	margin-left:0;
	margin-right:0;
}
}

nks {
    display: inline-block;
}

.plink {
    display: inline-block;
    padding: 1px;
    margin: 3px;
}
.plink a {
}
.ptitle {
    padding: 1px;
    margin: 3px;
    font-weight: bold;  
}
.pauthors {
    padding: 1px;
    margin: 3px;
    font-style: italic;
}
.pvenue {
    display: inline-block;
    color: #500;
    margin: 3px;
}
.pkeywords {
    padding: 1px;
    margin: 3px;
    color: #FF8C00;
}
.paper {
    border-bottom: solid 20px #FFF;
    /* border-bottom: solid 20px #FEE;*/
    margin-bottom: 20px;
    padding-left: 150px;
    position: relative;
    min-height: 120px;
}

.pimg {
    width: 200px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.pimg img {
  max-width: 90%;
  }

#reminder {
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;

.cc-background {
background-color: rgba(0,0,0,0.7);
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
//  height: 300px;
}

.item:nth-child(1) {
  background: darkred;
}

.item:nth-child(2) {
  background: red;
}

.item:nth-child(3) {
  background: orange;
}

.item:nth-child(3) {
  background: orange;
}


.publication .authors { display: inline; }

.publication .author { display: inline; list-style: none; padding: 0px; }

.publication .author li { display: inline; }

.publication .author li::after { content: ", "; }

.publication .author li:last-child::after { content: ".  "; }

.publication .title { display: inline; font-style: italic; font-weight: bold; }

.publication .title::before { content: " \""; }

.publication .title::after { content: ".\" "; }

.publication .venue { display: inline; }

.publication .venue::after { content: "."; }

.publication .year { display: inline; }

.publication .year::after { content: "."; }

.publication .links { margin: 10px; }

.publication .links ul { display: inline; list-style: none; }

.publication .links li { display: inline; }

.required_reading::before { /* content: "Required Reading"; */ }

.optional_reading::before { content: "Optional Reading"; }

.required_reading { padding: 1rem; }

.optional_reading { padding: 1rem; }

.required_reading ul { padding-top: 1rem; /*line-height: 1rem;*/ }

.optional_reading ul { padding-top: 1rem; }

.card { position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; }
.card > hr { margin-right: 0; margin-left: 0; }
.card > .list-group:first-child .list-group-item:first-child { border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }
.card > .list-group:last-child .list-group-item:last-child { border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }

.card-body { flex: 1 1 auto; padding: 1.25rem; }

.card-title { margin-bottom: 0.75rem; }

.card-subtitle { margin-top: -0.375rem; margin-bottom: 0; }

.card-text:last-child { margin-bottom: 0; }

.card-link:hover { text-decoration: none; }
.card-link + .card-link { margin-left: 1.25rem; }

.card-header { padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
.card-header:first-child { border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
.card-header + .list-group .list-group-item:first-child { border-top: 0; }

.card-footer { padding: 0.75rem 1.25rem; background-color: rgba(0, 0, 0, 0.03); border-top: 1px solid rgba(0, 0, 0, 0.125); }
.card-footer:last-child { border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs { margin-right: -0.625rem; margin-bottom: -0.75rem; margin-left: -0.625rem; border-bottom: 0; }

.card-header-pills { margin-right: -0.625rem; margin-left: -0.625rem; }

.card-img-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 1.25rem; }

.card-img { width: 100%; border-radius: calc(0.25rem - 1px); }

.card-img-top { width: 100%; border-top-left-radius: calc(0.25rem - 1px); border-top-right-radius: calc(0.25rem - 1px); }

.card-img-bottom { width: 100%; border-bottom-right-radius: calc(0.25rem - 1px); border-bottom-left-radius: calc(0.25rem - 1px); }

.card-deck { display: flex; flex-direction: column; }
.card-deck .card { margin-bottom: 15px; }
@media (min-width: 576px) { .card-deck { flex-flow: row wrap; margin-right: -15px; margin-left: -15px; }
  .card-deck .card { display: flex; flex: 1 0 0%; flex-direction: column; margin-right: 15px; margin-bottom: 0; margin-left: 15px; } }

.card-group { display: flex; flex-direction: column; }
.card-group > .card { margin-bottom: 15px; }
@media (min-width: 576px) { .card-group { flex-flow: row wrap; }
  .card-group > .card { flex: 1 0 0%; margin-bottom: 0; }
  .card-group > .card + .card { margin-left: 0; border-left: 0; }
  .card-group > .card:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
  .card-group > .card:first-child .card-img-top, .card-group > .card:first-child .card-header { border-top-right-radius: 0; }
  .card-group > .card:first-child .card-img-bottom, .card-group > .card:first-child .card-footer { border-bottom-right-radius: 0; }
  .card-group > .card:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
  .card-group > .card:last-child .card-img-top, .card-group > .card:last-child .card-header { border-top-left-radius: 0; }
  .card-group > .card:last-child .card-img-bottom, .card-group > .card:last-child .card-footer { border-bottom-left-radius: 0; }
  .card-group > .card:only-child { border-radius: 0.25rem; }
  .card-group > .card:only-child .card-img-top, .card-group > .card:only-child .card-header { border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }
  .card-group > .card:only-child .card-img-bottom, .card-group > .card:only-child .card-footer { border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) { border-radius: 0; }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer { border-radius: 0; } }

.card-columns .card { margin-bottom: 0.75rem; }
@media (min-width: 576px) { .card-columns { column-count: 3; column-gap: 1.25rem; }
  .card-columns .card { display: inline-block; width: 100%; } }

